<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="corpo bggrey" >
        <div class="corpocentro padding30 margin30 shadow corwhite" >
            <h2 class="espacado">Configurações básicas do Sistema:</h2>
            <form method="post" action="/salvarconf"> 
                <h2>Diretório atual : <%=diretorio%></h2>
                <input class="input" type="text" placeholder="digite o diretório dos arquivos a serem lidos" name="diretorio" id="">
                
                <button class="btn" >Salvar Configurações</button>
            </form>
        </div>    
    </div>    
    
</body>
<%- include('partials/footer.ejs')%>