<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/style.css">
    
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <a class="itemTabela scale11" href="/">
            <img src="/img/home_40px.png" alt="">
        </a>
        <a class="itemTabela scale11" href="/perguntar">
            <img src="/img/perguntar.png" alt="">
        </a>
        <a class="itemTabela scale11" href="/fendaateu">
            <img src="/img/clientes.png" alt="">
        </a>
        <a class="itemTabela scale11 corwhite" href="/addCliente.ejs">
            <img src="/img/addcliente.png" alt="">
        </a>
        <a class="itemTabela scale11 corwhite"  href="/configuracoes">
            <img src="/img/configuracoes.png" alt="">
        </a>
        <a class="itemTabela scale11 corwhite"  href="/configuracoes">
            <img src="/img/configuracoes.png" alt="">
        </a>
        <h1 class="desligaliga fonte30 espacado centro corwhite">Fenda Ateu Dispor</h1>
    </nav>
    <div style="width: 100%; height: 100%;" classe="">
        
    </div>
</body>
