<%- include('partials/header.ejs'); %> 
<body class="white">
    <%- include('partials/navbar.ejs'); %> 
    

    
    <div class="corpo bggrey" >
        <div class="corpocentro padding30 margin30 shadow corwhite" >
        <div class="corwhite espacado">
            <h2>Inserir novo Produto</h2>
            <br>
            <br>
        </div>
        <form class="maxtam" method="post" action="/salvarperguntas">
            
            <label for="">Título</label>
            <br>
            <input class="input espacado" name="Titulo" type="text" placeholder="Produto" class="form-control">
            <input class="input espacado" name="Valor" type="number" placeholder="Valor" class="form-control">
            <input class="input espacado" name="Fornecedor" placeholder="" type="text" placeholder="Produto" class="form-control">
            <br>
            <label for="">Descrição</label>
            <br>
            <textarea class="maxtam input espacado" name="descricao" placeholder="Escreva a Descrição do Produto" id="" cols="10" rows="5" class="form-control"></textarea>
            <br>
            <button class="btn btn-dark form-control">Arquivar</button>
        </form>
        
        <!--<input class="input espacado" name="titulo" type="image" placeholder="Produto" class="form-control">-->
    </div>
</div>
   
</body>
<%- include('partials/footer.ejs'); %> 