<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="corpo bggrey" >
        <div class="corpocentro padding30 margin30 shadow corwhite" >
            <h2><%=msg%></h2>
        </div>    
    </div>    
    
</body>
<%- include('partials/footer.ejs')%>